@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #080421;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

.ql-container {
  height: 58%;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: ease 0.3s;
}
button:hover {
  transition: ease 0.3s;
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #2a4863;
    background-color: #1f1a21;
  }
  a:hover {
    color: #e2dfd0;
  }
}

@theme {
  --color-purple: #342a38;
  --color-dark: #1b151d;
  --color-green: #9bec00;
}

@layer base {
  :root {
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .dark {
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
  }
}

@layer utils {
  @keyframes ChevronUpslide {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    99% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      display: none;
    }
  }

  @keyframes TextslideUp {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(-100px);
      opacity: 1;
    }
  }

  .companyDetails {
    position: relative;
    color: white;
    width: 80%;
    padding: 15px;
    font-size: 20px;
    justify-content: center;
    justify-self: center;
    animation-duration: 1s;
    animation-name: TextslideUp;
    animation-direction: ease-in;
    animation-fill-mode: forwards;
    border-radius: 20px;
    margin-top: 5%;
  }

  .companyDetailsNo {
    position: relative;
    color: white;
    width: 80%;
    padding: 15px;
    font-size: 20px;
    justify-content: center;
    justify-self: center;
    animation-duration: 0.5s;
    animation-direction: ease-in;
    animation-fill-mode: forwards;
    border-radius: 20px;
    margin-top: 10;
  }

  .slide-up {
    animation-name: ChevronUpslide;
  }

  .slide-down {
    animation-name: TextslideUp;
  }

  .animatedfeature {
    margin-top: 50px;
    justify-self: center;
    animation-duration: 2s;
    animation-name: ChevronUpslide;
    animation-direction: ease-in;
    animation-fill-mode: forwards;
    height: 60px;
    width: 60px;
    color: white;
  }
  .animatedfeature:hover {
    transform: scale(1.5);
    cursor: pointer;
  }
}
